<!-- <app-favorite-color></app-favorite-color> -->

<!-- Below code entirely borrowed from: https://stackblitz.com/run?file=src%2Fapp%2Fapp.component.html -->
<h1>Reactive Forms</h1>

<nav>
  <button type="button" (click)="toggleEditor('name')">Name Editor</button> &emsp;
  <button type="button" (click)="toggleEditor('profile')">Profile Editor</button> &emsp;
  <button type="button" (click)="toggleEditor('hero')">Hero Form</button> &emsp;
  <button type="button" (click)="toggleEditor('dynamic')">Dynamic</button>
</nav>

<br>

<app-name-editor *ngIf="showNameEditor"></app-name-editor>

<app-profile-editor *ngIf="showProfileEditor"></app-profile-editor>

<app-hero-form *ngIf="showHeroForm"></app-hero-form>

<app-dynamic-form-question *ngIf="dynamicForm"></app-dynamic-form-question>
