<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First name: </label>
    <input type="text" formControlName="firstName">

    <br>

    <label for="lastName">Last name: </label>
    <input type="text" formControlName="lastName">

    <div formGroupName="address">
        <h2>Address</h2>

        <label for="street">Street: </label>
        <input type="text" id="street" formControlName="street"> <br>

        <label for="city">City: </label>
        <input type="text" id="city" formControlName="city"> <br>

        <label for="state">State: </label>
        <input type="text" id="state" formControlName="state"> <br>

        <label for="zip">Zip: </label>
        <input type="number" id="zip" formControlName="zip"> <br>
    </div>

    <br>

    Form value: {{ profileForm.value | json }} <br> <br>

    <div>
        If you want to load some predefined values, click on <button type="button" (click)="performPartialUpdate()">this button</button>.
    </div>

    <p>Complete the form to enable submit.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
